<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/index.css}" rel="styleSheet">
    <title>top</title>
</head>
<body>
<div th:insert="~{common/header}"></div>
<div class="maincontents">
    <div class="welcome_area">
        <p>Welcome back, <span class="welcome_name" th:inline="text"><span th:remove="tag" sec:authentication="name"></span></span> !</p>
    </div>
    <div class="balance_area">
        <div class="balance_area_inner">
            <p class="balance_title">Total Balance</p>
            <p th:each="balance : ${balanceList}" class="balance">
                <span class="yen">¥</span><span th:text="${balance.money}" class="money"></span>
            </p>
        </div>
    </div>
    <a href="transaction_list.html" th:href="@{/transaction}" class="transaction_area"><!-- "@{/issues}" @ はthymeleafでリンクを表す記法 -->
        <span class="transaction_text">Start Transaction</span>
    </a>
    <a href="remove_list.html" th:href="@{/remove}" class="remove_area">
        <span class="remove_text">Remove Transaction</span>
    </a>
</div>
</body>
</html>
