/* html */
html {
    overflow-y: scroll;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
* {
    font-family: OpenSans, sans-serif;
}

/* header */
#header {
    height: 55px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    background-color: white;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-left: 50%;
    padding-right: 50%;
}
#head_contents_top {
    width: 800px;
    margin: auto;
    display: flex;
}
#logoArea {
    font-size: 30px;
    font-weight: bold;
    color: #051F4E;
    margin: 10px 0;
}

/* body */
body {
    margin: 0;
    font-size: 18px;
    color: #051F4E;
}
.maincontents {
    width: 1200px;
    margin: 0 auto;
    padding: 60px;
}
.welcome_area {
    width: 800px;
    margin: 0 auto;
}
.welcome_name {
    font-size: 22px;
    font-weight: bold;
}
.balance_area {
    background: #FFF;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    border-radius: 1.875rem;
    margin: 20px auto;
    width: 800px;
    height: 258px;
    text-align: center;
}
.balance_text {
    line-height: inherit;
}
.transaction_area {
    background: #153bff;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    border-radius: 1.875rem;
    opacity: 1;
    width: 400px;
    height: 80px;
    border: none;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.transaction_area:hover {
    background: #0428D1;
}
.transaction_text {
    font-size: 18px;
    color: #FFF;
}
.remove_area {
    background: #FFF;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    border-radius: 1.875rem;
    opacity: 1;
    width: 400px;
    height: 80px;
    border: none;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.remove_area:hover {
    background: #ebeaea;
}
.remove_text {
    font-size: 18px;
    color: #f60505;
}
