<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>記事一覧</title>
</head>
<body>
<h1>記事一覧</h1>
<a href="index.html" th:href="@{/}">トップページ</a>
<table>
    <thead>
    <tr>
        <th scope="col">remove</th>
        <th scope="col">感想</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="remove : ${removeList}">
        <th scope="col" th:text="${remove.title}">(title)</th>
        <td th:text="${remove.impressions}">(impression)</td>
    </tr>
    </tbody>
</table>
</body>
</html>
